@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&display=swap');

html,
body {
  all: unset;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-family: 'Noto Serif', 'Times New Roman';
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2em;
}
html,
body,
body * {
  position: relative;
  box-sizing: border-box;
}
body {
  display: grid;
  grid-template-columns: 80% 20%;
  grid-auto-rows: 1fr;
  padding: 4px 4px 0 4px;
  height: 100vh;
  justify-content: stretch;
}
.clickable {
  cursor: pointer;
}
.flexible-container {
  display: flex;

}